body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: rgb(230, 230, 230);
}

main {
  font-family: "Unkempt", cursive;
  padding: 20px;
  flex: 1;
}

h1 {
  color: aliceblue;
  text-align: center;
}
